* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(https://ak.picdn.net/shutterstock/videos/1007856310/thumb/1.jpg?ip=x480);
    height: 100%;
}

#first {
    font-family: forte,Arial,sans-serif;
    font-size: 40px;
}

#box1 {
    background-image: url(https://wallpaperaccess.com/full/945984.jpg);
    width: 100%;
    height: 70px;
}

#box2 {
    height: 50px;
    width: 100%;
    background-color: none;
    display: block;
    font-family: Brush Script MT, cursive;
    font-size: 25px;
}

#picture1{
    position: absolute;
    bottom: 100px;
    left: 1030px;
    height: 300px;
    width: 300px;
    /* margin-right: 25px;
    float: right; */
}

#picture2{
    position: absolute;
    left: 1030px;
    bottom: -100px;
    /* height: 300px;
    width: 300px; */
}

#mainbox p{
    height: 95%;
    width: 95%;
    margin-left: 32px;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#mainbox h2{
    font-family: Brush Script MT, cursive;
    font-size: 37.5px;
}

#para1{
    width: 950px;
}

#footer li a{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Brush Script MT, cursive;
    text-decoration: none;
}

#footer a:first-child{
    font-size: 30px ;
}

#footer a:hover {
    color: rgb(61, 112, 156);
}

/* #btm{
    font-size: 25px;
}

#np{
    font-size: 40px;
} */

#CN{
    /* background-color: gray; */
    font-family: SEGOE SCRIPT;
    font-size: 23PX;
    position:absolute;
    left: 500px;
    bottom: -200px;
    text-align: center ;
}