
html{
    font-size: 40.8%;
    font-family: 'alata';
    background-image: url(https://ak.picdn.net/shutterstock/videos/1007856310/thumb/1.jpg?ip=x480&fbclid=IwAR1sG4RNWDCddfTw_YwxuwzZRxZcW6JBMp8IHao1hCqist7_khJPqkC34ps);
    margin-left: 10px;    
}
#c1{
    font-size: 120px;
    font-weight: bold;
    color:black;
}
.hinhnen{
    background-image: url(https://wallpaperaccess.com/full/945984.jpg);
    width: 1420px;
    height: 70px;
    margin: 0px;
}

.abphai{
    position: absolute;
    left: 160rem;
    top: 60.83rem;
    right: 30rem;
    
}
.abphai2{
    position: absolute;
    left: 160rem;
    top: 140.83rem;
    right: 30rem;
    
}
body{
    margin: 0 0 0 0;
    width: 192rem;
    height: 100rem;
}
.sizechu{
    font-size: 3rem;
    width: 150rem;
}
.abphai3{
    position: absolute;
    left: 160rem;
    top: 240.83rem;
    right: 30rem;
    
}
.abphai4{
    position: absolute;
    left: 160rem;
    top: 350.83rem;
    right: 30rem;
    
}
.abphai5{
    position: absolute;
    left: 160rem;
    top: 450.83rem;
    right: 30rem;
    
}
.abphai6{
    position: absolute;
    left: 160rem;
    top: 570.83rem;
    right: 30rem;
    
}
.nextpage{
    font-size: 30px;
    font-weight: bold;
    color: rgb(7, 34, 52);
    text-decoration: none;
}
.font1{
    font-size: 30px;
}
.font2{
    font-size: 25px;
}
.backmenu a{
    font-size: 4rem;
    text-decoration: none;
    color:rgb(7, 34, 52)
}
.backmenu a:hover {
    color: rgb(74, 160, 235);
}
.nextpage a:hover {
    color: rgb(74, 160, 235);
}