
html{
    font-size: 40.8%;
    font-family: 'alata';
    background-image: url(https://ak.picdn.net/shutterstock/videos/1007856310/thumb/1.jpg?ip=x480&fbclid=IwAR1sG4RNWDCddfTw_YwxuwzZRxZcW6JBMp8IHao1hCqist7_khJPqkC34ps);
    margin-left: 10px;
    }
#c1{
    font-size: 120px;
    font-weight: bold;
    color:black;
}
.hinhnen2{
    background-image: url(https://wallpaperaccess.com/full/945984.jpg);
    width: 1420px;
    height: 70px;
}
.abphai{
    position: absolute;
    left: 160rem;
    top: 60.83rem;
    right: 30rem;
    
}
.abphai2{
    position: absolute;
    left: 160rem;
    top: 140.83rem;
    right: 30rem;
    
}
body{
    margin: 0 0 0 0;
    width: 192rem;
    height: 100rem;
}
.sizechu{
    font-size: 3rem;
    width: 150rem;
}
.abphai3{
    position: absolute;
    left: 160rem;
    top: 240.83rem;
    right: 30rem;
    
}
.abphai4{
    position: absolute;
    left: 160rem;
    top: 350.83rem;
    right: 30rem;
    
}
.abphai5{
    position: absolute;
    left: 160rem;
    top: 370.83rem;
    right: 30rem;
    
}
.abphai6{
    position: absolute;
    left: 160rem;
    top: 490.83rem;
    right: 30rem;
    
}
.abphai7{
    position: absolute;
    left: 160rem;
    top: 580.83rem;
    right: 30rem;
    
}
.nextpage{
    font-size: 30px;
    font-weight: bold;
    color: blue;

}
.font1{
    font-size: 30px;
}
.font2{
    font-size: 25px;
}
.thank{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 100.5rem;
    top: 645.83rem;
    right: 30rem;
    
}
.backmenu a{
    font-size: 4rem;
    text-decoration: none;
    color:rgb(7, 34, 52)
}
.backpage a{
  font-size: 5rem;  
  text-decoration: none;
  color:rgb(7, 34, 52)
}

.bottom{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    position: absolute;
    left: 162rem;
    top: 642rem;
    text-align: center;
}
.bottom1{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    left: 162rem;
    top: 425rem;
    position: absolute;
    text-align: center;
}
.back a{
    font-size: 4rem;
    text-decoration: none;
    color:rgb(7, 34, 52)
}