html{
    font-size: 46.08%;
    background-image: url(https://ak.picdn.net/shutterstock/videos/1007856310/thumb/1.jpg?ip=x480&fbclid=IwAR1sG4RNWDCddfTw_YwxuwzZRxZcW6JBMp8IHao1hCqist7_khJPqkC34ps);
    }
    body{
        margin: 0 10px 0 10px;
        width: 180rem;
        height: 100rem;
    }
    .Title{
        font-size: 7rem;
        text-align: center;
        font-family: 'alata';
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 192rem;
        height: 10rem;  
    }
    .hinhnen{
        background-image: url(https://wallpaperaccess.com/full/945984.jpg);
        width: 193rem;
        height: 10rem;
    }
    .introduction{
        margin-top: 3rem;
        width: 130rem;
        height: 3rem;
        font-family: 'alata';
    }
    h1{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    #question{
        margin-bottom: 1rem;
    }
    .menu{
        font-size: 3rem;
        border: 3px;
        width: 20rem;
        
        border-style: solid;
        text-align: center;
    }
    
    .dropdown{
        font-size: 2rem;
        border: 3px;
        width: 20rem;
        border-style: solid;
        text-align: center;
    }
    .pic1{
    position: absolute;
    left: 121.5rem;
    top: 59rem;
    }
    .pic2{
    position: absolute;
    top:59rem;
    left: 54rem;
    }
    .container{
       position: absolute;
        bottom: 88rem;
        right: 1rem;
        text-align: center
    }
    #menu__search{
        padding: 1rem;
    }
    #menu__list{
        margin-top: 1rem;
        font-size:  0px;
    }
    .menu__item{
      display: inline-block;
    }
    .menu__item a{
        text-decoration: none;
        color: white;
        background-color: rgb(14, 85, 131 );
        padding:  0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 2.5rem;
        margin: 0 1rem;
    }