html{
    font-size: 43.94%;
    font-family: 'alata';
    background-image: url(https://ak.picdn.net/shutterstock/videos/1007856310/thumb/1.jpg?ip=x480&fbclid=IwAR1sG4RNWDCddfTw_YwxuwzZRxZcW6JBMp8IHao1hCqist7_khJPqkC34ps);

}
    body{
        width: 180rem;
        height: 100rem;
}
.hinhnen{
    background-image: url(https://wallpaperaccess.com/full/945984.jpg);
    width: 200rem;
    height: 10rem;
}
.Information{
    width: 100rem;
}
h1{
    font-size: 3rem;
    margin-top: 0rem;
}
h1{
    color: rgb(26, 82, 118);
}
#a{
    color: black;
}
.Title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
h3{
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-left: 10px;
    
}
.back a{
    font-size: 2rem;
    text-decoration: none;
    color:rgb(7, 34, 52)
}
.next a{
    font-size: 2rem;
    text-decoration: none;
    color:rgb(7, 34, 52)
}
.hinhanh1{
    position: absolute;
    left: 116rem;
    top:20rem;
}
.hinhanh2{
    position: absolute;
    left: 116rem;
    top: 125rem;

}
.bottom{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    position: absolute;
    left: 140rem;
    top: 401rem;
    text-align: center;

}